.logo {
  width: 400px;
  height: auto;
  position: absolute;
  top: 40%;
  z-index: 10;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  cursor: pointer;
  will-change: transform;
}

.logo.hovered {
  transform: translateY(-50%) scale(1.05);
}

.logo1 {
  left: 38%;
}

.logo2 {
  right: 38.7%;
}

@keyframes fallParabolaLeft {
  0% {
    transform: translateY(-50%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-200px, 800px) rotate(-60deg);
    opacity: 0;
  }
}

@keyframes fallParabolaRight {
  0% {
    transform: translateY(-50%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(200px, 800px) rotate(60deg);
    opacity: 0;
  }
}

.fall-left {
  animation: fallParabolaLeft 2.4s linear forwards;
}

.fall-right {
  animation: fallParabolaRight 2.4s linear forwards;
}

/* RESPONSIVE TWEAKS */
@media (max-width: 1440px) {
  .logo {
    width:340px;
  }
}
@media (max-width: 1024px) {
  .logo {
    width:240px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}
@media (max-width: 375px) {
  .logo {
    width: 90px;
  }
}
