@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #fff;
  overflow: hidden;
}

.MT {
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1f1f2edb;
  font-size: 3.5rem;
  transition: transform 0.2s ease;
  z-index: 11;
}

.MT:hover,
.MT:active {
  transform: translate(-50%, -50%) scale(1.05);
}
@media (max-width: 1024px) {
  .MT {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .MT {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .MT {
    font-size: 2rem;
  }
}

